:root {
--accent-color: #3A71C1 !important;
--notification-color: var(--accent-color) !important;
--i-ccl-selectcolor: var(--accent-color) !important;
}
.new-messages-indicator.new-messages-indicator-mention, .badge {
    background-color: #3A71C1;
    color: #FFFFFF;
}
.chat .new-messages-bar {
    background-color: #3A71C1;
}
/* remove box on transparent imgs */
.embed .embed-thumbnail-gifv video, .attachment-image img, .attachment-image .image, .embed .image, .embed .embed-thumbnail img {
    background: none !important;
    box-shadow: none !important;
    filter: drop-shadow(0 3px 7px rgba(0,0,0,.4));
}

.embed .embed-thumbnail-gifv video:hover, .embed .image:not(iframe):hover, .embed .embed-thumbnail img:not(iframe):hover, .embed-thumbnail-video:not(iframe):hover, .attachment-image .image:not(iframe):hover, .embed-thumbnail.embed-thumbnail-image .image:not(iframe):hover {
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.5));
}
/* Horizontal serverlist badge fixer  */
.guilds-wrapper .guilds .guild .badge {
    bottom: 2px;
    right: 5px;
    transform: rotate(90deg)!important;
}
.guilds-wrapper .guilds .guild .guild-inner .avatar-small::before {
    transform: rotate(90deg) !important; }
/* Black horizontal serverlist tooltips */
  .tooltip.tooltip-right.tooltip-black {
    background-color: #000000 !important;
    transform: translate(-119px, -72px) !important;
    width: 150px;
    padding: 13px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    z-index: 1000000000000000000;
    pointer-events: none;
    animation: opacity 300ms linear, slide_up 200ms cubic-bezier(.1,1,0,1);
    box-shadow: 0 0px 0px 0px, 0 0 0 2px var(--accent-color)!important;
  }
/* Black pulsating horizontal serverlist tooltip for Direct Messages */
  .guilds-wrapper .guilds .guild .guild-inner a {
    padding: 0px 25px;
}
/* Black tooltips */
.tooltip {
    background-color: #000000 !important;
    padding: 9px 10px;
    border-radius: 10px;
    font-size: 14px;
    text-align: left;
    z-index: 1000000000000000000;
    pointer-events: none;
    animation: opacity 300ms linear, slide_up 200ms cubic-bezier(.1,1,0,1);
    box-shadow: 0 0px 0px 0px, 0 0 0 2px var(--accent-color)!important;
  }
@keyframes slide_up {
    from {
        transform: translate(0, 200%);
        }
    }
.unreadBottom-2LxhSR,.unreadTop-25fmEL {
    display: none;
}
.scroller-NXV0-d {
    padding-bottom: 0px; !important;
}
/* Jeder */
.avatar-small[style*="143685955436544000"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="143685955436544000"]+.comment .username-wrapper .user-name:after {
    content: "PAJAC";
    background: #006AFF;
    font-size: 10px;
    font-weight: 600;
    color: #FFFFFF!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
/* Dekad */
.avatar-small[style*="282545631640289280"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="282545631640289280"]+.comment .username-wrapper .user-name:after {
    content: "PAJAC";
    background: #006AFF;
    font-size: 10px;
    font-weight: 600;
    color: #FFFFFF!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* snickers */
.avatar-small[style*="198459242875715584"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="198459242875715584"]+.comment .username-wrapper .user-name:after {
    content: "ZJEB";
    background: #FF00FF;
    font-size: 10px;
    font-weight: 600;
    color: #FFFFFF!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
/* Bottom new mention indicator */
.guilds-wrapper .new-messages-indicator.bottom {
    bottom: 0!important;
}

img.emoji[src="/assets/1223c2e358973af4766acf976e941520.svg"],
img.emoji[src="/assets/cb3eea8759d62489b21ccd3ee913c1c8.svg"]{
    filter: brightness(.5);
}

.guilds-wrapper .scroller-wrap {
    margin-bottom: 0px !important;
}
